
/*
O Nas
*/
.obsah_O_Nas {
    width: 500px;
    margin: 0 auto;
}

.Karta_O_Nas {
    margin-top: 80px;
}
@media screen and (max-width: 500px) {
    .obsah_O_Nas {
        max-width: 100%;
        padding: 0;
    }
    .responsiveR{
        max-width: 100%;
        height: auto;
    }
}


.container {
    text-align: center;
    color: white;
    position: relative;
    background-image: url("https://www.pngkey.com/png/full/336-3369824_map-background-footer-background-for-website.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    color: black;
    font-size: clamp(1rem, 2.5vw, 2rem);
    width: 50%;
}






